html {
    background-color: #020659;
    color: #ffffff;
}

body{
    width: 375px;
    margin:0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;

}

header{
    padding-top: 42px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-image: linear-gradient(to right, #2104D9,#000);
}

h1{
    font-size: 1.25em;
    line-height: 2em;
}

h2{
    margin-left: 16px;
}

h1, h2, h3{
font-weight: bold;
text-transform: uppercase;
}

h2,h3{
    font-size: 1em;
    line-height: 2em;
    color: #590242;

}

p, dl, dd{
    font-size: 1em;
}
dl{
    display: flex;
    margin-top: -10px;
    color: #590242;
    
}


dt{
    font-weight: lighter;
    font-size: 16px;
    font-style: italic;

    
}

footer{
    font-weight: bold;
    text-align: center;
    color: #590242;
    padding-bottom: 1px;
    font-size: .75em;
}

.more{
    font-weight: bold;
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width:150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}

.more:hover{
    background-color: #020659;
}

nav{
    width: 375px;
    height: 60px;
    background-color: #030A8C;
    position:absolute;
    top: 0;
    margin-left: -25px;
    z-index: 1;
    text-transform: uppercase;
}

nav h2{
    visibility: hidden;
    height: 1px;
}

a:hover, input:hover{
    background-color: #590242;
}

ul{
    text-align: center;
    margin-top:13px ;
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    background-color: #2104D9;

}

li a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
}

[href="#home"]{
    text-transform: capitalize;
    font-family: verdana;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 90px;
    padding: 12px 16px;

}


label{
    cursor:pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;

}

label span{
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after{
    background: #ffffff;
    content: '' ;
    display:block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before{
    top: 5px;
}

label span:after{
    top: -5px;
}

input{
    display: none;
}

input:checked ~ ul{
    max-height: 500px;
}
input:checked ~ label span{
    background: transparent;
}

input:checked ~ label span:before{
    transform: rotate(-45deg);
}

input:checked ~ label span:after{
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after{
    top: 0;
}
@media screen and (min-width:834px) {
    ul{
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input{
        display: none;
    }
}

audio{
    position: absolute;
    bottom: 150px;
    left:5px;
}

audio::-webkit-media-controls-mute-button{
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button{
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure{
    background-color: rgba(255,255,255,.5);
}

#trending h3{
   font-size: 16px;
   color: #590242;
   margin-top: -5px;
}

#playlists, #curated{ 
    width:375px;
}

#trending ::-webkit-scrollbar {
    width: 15px;
}

#trending ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover{
    background: #020659;
}

#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar{
    width: 15px;
}

#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb{
    background: #020659;
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover{
    background: #ffffff;
}

#playlists .scroll{
    background-color: #2699FB;
}

#playlists section{
    background-color: #0D8DFB;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#playlists section:hover{
    background-color: #590242;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

#playlists section h3{
    font-weight: bold;
    color: #ffffff;
    line-height: 1em;
}


#curated .scroll{
    background-color: #030A8C;
}

#curated section{
    background-color:#020659;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#curated section:hover{
    background-color:#590242;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#curated section h3{
    font-weight: bold;
    color: #ffffff;
    line-height: 1em;
}



.scroll{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section{
    margin:10px;
    position: relative;
}

.scroll div{
    position: absolute;
    top: 250px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 51px;
    width: 350px;
}

@media screen and (min-width:834px) {
    body{
        width: 834px;
    }

    nav{
    width: 834px;
    }
    ul{
        width: 834px;
        overflow: visible;
        position: absolute;
        top: -22px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
    }
    label span, input {
        display: none;
    }

    header{
        padding-top: 50px;
    }

    [href="#home"]{
        position: static;
        padding: 16px;
    }

    li a{
        padding: 16px 0px;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h2{
        margin-left: 25px;
    }

    #trending{
        width: 834px;
        grid-column: 1/3;
    }

    #playlists{
        width: 417px;
        grid-column: 1/2;
    }

    #curated{
        width: 417px;
        grid-column: 2/3;
    }

    #playlists img, #curated img{
        float: left;
        margin-right: 10px;
        padding-bottom: 10px;
    }

    #playlists section, #curated section{
        height: 120px;
        width: 360px;
        text-align: center;
    }

    #playlists p, #curated p{
        position: absolute;
        top: 40px;
        left: 165px;
    }

    #playlists .scroll, #curated .scroll{
        overflow-x: hidden;
        overflow-y: auto;
        height: 530px;
        grid-template-rows: repeat(5,40px);
        grid-template-columns: 1fr;
        row-gap: 120px;
    }

    .more{
        float: right;
        margin-left: 13px;
    }
}